@use '../../styles/global';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 1000;
}

.card {
  width: 80%;
  height: 20%;
  background: white;
  margin: auto;
  border-radius: 10;
  position: relative;
  background: global.$primaryLight;
  max-width: 750px;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: global.$xl;

  h3 {
    margin: 0;
  }
}
