@use '../../styles/global.scss';

.message {
  font-family: global.$secondaryFont;
  font-weight: 400;
  font-size: medium;
  letter-spacing: -0.5;
  color: white;
  background: global.$primaryDark;
  margin-bottom: global.$medium;
  border-radius: 0 15px 15px 15px;
  width: 300px;
}

.message.self {
  float: right;
  background: global.$primary;
  border-radius: 15px 0 15px 15px;
}
