@use '../../styles/global.scss';

.message {
  font-family: global.$secondaryFont;
  font-weight: 400;
  font-size: medium;
  letter-spacing: -0.5;
  color: global.$secondary;
  background: global.$primary-white;
  margin-bottom: global.$medium;
  border-radius: 0 15px 15px 15px;
  width: 300px;
  overflow-wrap: break-word;
}

.message.self {
  float: right;
  background: global.$secondary;
  border-radius: 15px 0 15px 15px;
  color: global.$primary-white;
}
