@use '../../styles/global';

.input-container {
  background: global.$primary-white;
  border-radius: 15px;
  margin-left: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px;
  position: relative;

  .emoji-picker {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
  }

  .emoji-picker.show {
    display: block;
  }

  input {
    font-family: global.$secondaryFont;
    font-weight: 300;
    height: 50px;
    border: none;
    background: none;
    box-shadow: none;
    padding-left: 10px;
    outline: none;
  }
  button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    margin-left: 0;
    &:hover {
      background: global.$secondaryLight;
    }
  }
}

.input-container-msg {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 30;
  padding: global.$medium;

}
