@use '../../styles/global';

.input-msg {
  font-family: global.$secondaryFont;
  font-weight: 300;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  border: none;
  box-shadow: none;
  padding-left: 10px;
}

.input-container-msg {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  padding: global.$xl;
}
