@use '../styles/global.scss';

.app-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 15px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 1500px) {
    width: 100%;
  }
}

.app-side-bar {
  padding: global.$xl;
  text-align: center;
  background: global.$tertiary;
  transition: left 0.3s ease-in-out;
  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    height: 100%;
    width: 100%;
  }
}

.app-side-bar.show {
  @media (max-width: 768px) {
    left: 0;
  }
}

.app-content {
  position: relative !important;
  background-color: global.$primary-white;
  padding: 20px;
}

.leave-chat-btn {
  background-color: transparent;
  border-color: global.$secondary;
  color: global.$secondary;
  padding: global.$large;
  border-radius: global.$large;
  font-size: large;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  border: 4px solid global.$secondary;
  &:hover {
    background-color: global.$secondaryOpaque;
  }

  &:active {
    background-color: global.$secondaryOpaque-2;
  }
}
