@use '../../styles/global.scss';

.messages {
  margin-top: global.$xl;
  .message {
    font-size: medium;
    font-weight: 500;
    letter-spacing: -0.5;
    color: global.$font-dark;
    background: rgba(255, 255, 255, 0.11);
    margin-bottom: global.$small;
    border-radius: global.$large;
    color: white;
    max-width: 300px;
  }
}
