@use '../../styles/global';

.msg-page {
  height: calc(100% - 25px);
  padding: global.$large;
  background-color: white;
  border-radius: 20px;

  .show-users-btn {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .msg-list-container {
    padding: global.$large;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    .messages {
      margin-top: global.$xl;
      display: flex;
      flex-direction: column;
    }
  }
}
