@use '../../styles/global';

.user_button {
  font-family: global.$secondaryFont;
  font-weight: 500;
  color: global.$primary-white;
  background-color: global.$secondary;
  margin-bottom: global.$medium;
  padding: global.$small;
  border-radius: global.$medium;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: global.$primaryLight;
    color: white;
    border-color: 2px solid white;
  }
}
